[[source]]
verify_ssl = true
url = "https://pypi.org/simple"
name = "pypi"

[packages]
beautifulsoup4 = "==4.8.0"
sympy = "==1.4.0"
requests = ">=2.20.0"
tabulate = "==0.7.7"
discord.py = "==1.2.3"
opencv-python = "*"
pytz = "*"
mpmath = "*"
numpy = "*"
aiohttp = "*"
urllib3 = ">=1.25.3"

[requires]
python_version = "3.6"

[dev-packages]
yapf = "==0.28.0"
