[[source]]
verify_ssl = true
url = "https://pypi.org/simple"
name = "pypi"

[packages]
"beautifulsoup4" = "==4.6.0"
sympy = "==1.0.0"
requests = ">=2.20.0"
cleverbot = "==1.1.1"
tabulate = "==0.7.7"
rewrite = {ref = "rewrite", git = "https://github.com/Rapptz/discord.py"}
opencv-python = "*"
pytz = "*"
mpmath = "*"
numpy = "*"
aiohttp = "*"

[requires]
python_version = "3.6"

[dev-packages]
yapf = "==0.22.0"
